/*     1726775 : 맞춤형 컨텐츠      */
.empty__1726775__ {padding:20px 10px;background:#fafafa;}
.empty__1726775__ p {margin:0;padding:0;}
.empty__1726775__ .title {font-size:18px;font-weight:bold;color:blue;text-align:center}
.empty__1726775__ dt {margin-bottom:5px;font-size:15px;font-weight:bold;}
.empty__1726775__ dd {margin:0;font-size:13px;}
.empty__1726775__ dd ul li {padding-left:15px;}
.row {overflow:hidden;}

/*     1726785 : 한줄 텍스트      */
.text__1726785__ p {
	display:block;margin:0;padding:0;
	font-size:16px;font-weight:normal;color:#8e714f;letter-spacing:0;line-height:1.6em;
}
.text__1726785__ p a {color:#8e714f}

/*     1726795 : 타이틀      */
.title__1726795__ {}
.title__1726795__ p {
	position:relative;margin:0;padding:0;font-size:20px;font-weight:bold;
	color:#444444;letter-spacing:-.03em;line-height:1.6em;
}
.title__1726795__ p:before {content:'';display:block;position:absolute;top:50%;left:0;right:0;width:100%;height:1px;background:#dddddd}
.title__1726795__ p span {display:inline-block;position:relative;z-index:10;padding:0 15px;background:#ffffff;vertical-align:top}

@media all and (min-width:768px){
	.title__1726795__ p {font-size:22px}
	.title__1726795__ p span {padding:0 20px}
}

@media all and (min-width:1024px){
	.title__1726795__ p {font-size:30px}
	.title__1726795__ p span {padding:0 30px}
}

/*     1730375 : 탭 버튼 이미지      */
.tab_info__1730375__ {display:table;width:100%}
.tab_info__1730375__ p {display:table-cell;height:60px;margin:0;background:#fafafa;color:#c40000;text-align:center;vertical-align:middle}

.img__1730375__ {max-width:100%}
.img__1730375__ * {box-sizing:border-box}
.img__1730375__ > a {display:table;width:100%;border:1px solid rgba(0, 0, 0, .2);background:#ffffff;}
.img__1730375__ > a > span {display:table-cell;height:40px;padding:10px 15px;font-size:14px;font-weight:bold;color:#444444;text-align:center;line-height:1.3em;letter-spacing:-.03em;vertical-align:middle;}
.img__1730375__.on > a {background:#8b6f4e;}
.img__1730375__.on > a > span {color:#ffffff;}

@media all and (min-width:768px){
	.img__1730375__ > a > span {padding:10px 15px;font-size:15px;}
}

@media all and (min-width:1024px){
	.img__1730375__ > a > span {height:55px;padding:15px 25px;font-size:17px;}
}


/*     1730385 : 탭 버튼 이미지      */
.tab_info__1730385__ {display:table;width:100%}
.tab_info__1730385__ p {display:table-cell;height:60px;margin:0;background:#fafafa;color:#c40000;text-align:center;vertical-align:middle}

.img__1730385__ {max-width:100%}
.img__1730385__ * {box-sizing:border-box}
.img__1730385__ > a {display:table;width:100%;border:1px solid rgba(0, 0, 0, .2);background:#ffffff;}
.img__1730385__ > a > span {display:table-cell;height:40px;padding:10px 15px;font-size:14px;font-weight:bold;color:#444444;text-align:center;line-height:1.3em;letter-spacing:-.03em;vertical-align:middle;}
.img__1730385__.on > a {background:#8a6442;}
.img__1730385__.on > a > span {color:#ffffff;}

@media all and (min-width:768px){
	.img__1730385__ > a > span {padding:10px 15px;font-size:15px;}
}

@media all and (min-width:1024px){
	.img__1730385__ > a > span {height:55px;padding:15px 25px;font-size:17px;}
}


/*     1730395 : 탭 컨텐츠 블록 설정      */
.block_option__1730395__ {display:table;width:100%}
.block_option__1730395__ p {display:table-cell;height:100px;margin:0;background:#fafafa;color:#c40000;text-align:center;vertical-align:middle}

#fac_tab1 {display:none;}

/*     1726805 : 이미지      */
.img__1726805__ {max-width:100%; margin-bottom:45px;}
.img__1726805__ * {box-sizing:border-box}
.img__1726805__ a {display:block;vertical-align:top}
.img__1726805__ img {width:1200px;vertical-align:top}

/*     1730405 : 탭 컨텐츠 블록 설정      */
.block_option__1730405__ {display:table;width:100%}
.block_option__1730405__ p {display:table-cell;height:100px;margin:0;background:#fafafa;color:#c40000;text-align:center;vertical-align:middle}

#fac_tab2 {display:none;}

/*     1730415 : 이미지      */
.img__1730415__ {max-width:100%}
.img__1730415__ * {box-sizing:border-box}
.img__1730415__ a {display:block;vertical-align:top}
.img__1730415__ img {width:1200px;vertical-align:top}

