/*     1726655 : 맞춤형 컨텐츠      */
.empty__1726655__ {padding:20px 10px;background:#fafafa;}
.empty__1726655__ p {margin:0;padding:0;}
.empty__1726655__ .title {font-size:18px;font-weight:bold;color:blue;text-align:center}
.empty__1726655__ dt {margin-bottom:5px;font-size:15px;font-weight:bold;}
.empty__1726655__ dd {margin:0;font-size:13px;}
.empty__1726655__ dd ul li {padding-left:15px;}
.row {overflow:hidden;}

/*     1726665 : 한줄 텍스트      */
.text__1726665__ p {
	display:block;margin:0;padding:0;
	font-size:16px;font-weight:normal;color:#8a6442;letter-spacing:0;line-height:1.6em;
}
.text__1726665__ p a {color:#8a6442}

/*     1726675 : 타이틀      */
.title__1726675__ {}
.title__1726675__ p {
	position:relative;margin:0;padding:0;font-size:20px;font-weight:bold;
	color:#444444;letter-spacing:-.03em;line-height:1.6em;
}
.title__1726675__ p:before {content:'';display:block;position:absolute;top:50%;left:0;right:0;width:100%;height:1px;background:#dddddd}
.title__1726675__ p span {display:inline-block;position:relative;z-index:10;padding:0 15px;background:#ffffff;vertical-align:top}

@media all and (min-width:768px){
	.title__1726675__ p {font-size:22px}
	.title__1726675__ p span {padding:0 20px}
}

@media all and (min-width:1024px){
	.title__1726675__ p {font-size:30px}
	.title__1726675__ p span {padding:0 30px}
}

/*     1730355 : 이미지      */
.img__1730355__ {max-width:100%; margin-bottom:45px;}
.img__1730355__ * {box-sizing:border-box}
.img__1730355__ a {display:block;vertical-align:top}
.img__1730355__ img {width:1200px;vertical-align:top}

/*     1726725 : 이미지      */
.img__1726725__ {max-width:100%;}
.img__1726725__ * {box-sizing:border-box}
.img__1726725__ a {display:block;vertical-align:top}
.img__1726725__ img {width:1200px;vertical-align:top}

/*     1730365 : 이미지      */
.img__1730365__ {max-width:100%}
.img__1730365__ * {box-sizing:border-box}
.img__1730365__ a {display:block;vertical-align:top}
.img__1730365__ img {width:1200px;vertical-align:top}

