/*     1726325 : 맞춤형 컨텐츠      */
.empty__1726325__ {padding:20px 10px;background:#fafafa;}
.empty__1726325__ p {margin:0;padding:0;}
.empty__1726325__ .title {font-size:18px;font-weight:bold;color:blue;text-align:center}
.empty__1726325__ dt {margin-bottom:5px;font-size:15px;font-weight:bold;}
.empty__1726325__ dd {margin:0;font-size:13px;}
.empty__1726325__ dd ul li {padding-left:15px;}
.row {overflow:hidden;}

/*     1726335 : 한줄 텍스트      */
.text__1726335__ p {
	display:block;margin:0;padding:0;
	font-size:16px;font-weight:normal;color:#a89f8a;letter-spacing:0;line-height:1.6em;
}
.text__1726335__ p a {color:#a89f8a}

/*     1726345 : 타이틀      */
.title__1726345__ {}
.title__1726345__ p {
	position:relative;margin:0;padding:0;font-size:20px;font-weight:bold;
	color:#444444;letter-spacing:-.03em;line-height:1.6em;
}
.title__1726345__ p:before {content:'';display:block;position:absolute;top:50%;left:0;right:0;width:100%;height:1px;background:#dddddd}
.title__1726345__ p span {display:inline-block;position:relative;z-index:10;padding:0 15px;background:#ffffff;vertical-align:top}

@media all and (min-width:768px){
	.title__1726345__ p {font-size:22px}
	.title__1726345__ p span {padding:0 20px}
}

@media all and (min-width:1024px){
	.title__1726345__ p {font-size:30px}
	.title__1726345__ p span {padding:0 30px}
}

/*     1726375 : 이미지      */
.img__1726375__ {max-width:100%; margin-bottom:80px;}
.img__1726375__ * {box-sizing:border-box}
.img__1726375__ a {display:block;vertical-align:top}
.img__1726375__ img {width:1200px;vertical-align:top}

/*     1726405 : 이미지      */
.img__1726405__ {max-width:100%; margin-bottom:80px;}
.img__1726405__ * {box-sizing:border-box}
.img__1726405__ a {display:block;vertical-align:top}
.img__1726405__ img {width:1200px;vertical-align:top}

/*     1726435 : 이미지      */
.img__1726435__ {max-width:100%; margin-bottom:80px;}
.img__1726435__ * {box-sizing:border-box}
.img__1726435__ a {display:block;vertical-align:top}
.img__1726435__ img {width:1200px;vertical-align:top}

