/*     1725925 : 맞춤형 컨텐츠      */
.empty__1725925__ {padding:20px 10px;background:#fafafa;}
.empty__1725925__ p {margin:0;padding:0;}
.empty__1725925__ .title {font-size:18px;font-weight:bold;color:blue;text-align:center}
.empty__1725925__ dt {margin-bottom:5px;font-size:15px;font-weight:bold;}
.empty__1725925__ dd {margin:0;font-size:13px;}
.empty__1725925__ dd ul li {padding-left:15px;}
.row {overflow:hidden;}

/*     1725935 : 한줄 텍스트      */
.text__1725935__ p {
	display:block;margin:0;padding:0;
	font-size:16px;font-weight:normal;color:#8b6f4e;letter-spacing:0;line-height:1.6em;
}
.text__1725935__ p a {color:#8b6f4e}

/*     1725945 : 타이틀      */
.title__1725945__ {}
.title__1725945__ p {
	position:relative;margin:0;padding:0;font-size:20px;font-weight:bold;
	color:#444444;letter-spacing:-.03em;line-height:1.6em;
}
.title__1725945__ p:before {content:'';display:block;position:absolute;top:50%;left:0;right:0;width:100%;height:1px;background:#dddddd}
.title__1725945__ p span {display:inline-block;position:relative;z-index:10;padding:0 15px;background:#ffffff;vertical-align:top}

@media all and (min-width:768px){
	.title__1725945__ p {font-size:22px}
	.title__1725945__ p span {padding:0 20px}
}

@media all and (min-width:1024px){
	.title__1725945__ p {font-size:30px}
	.title__1725945__ p span {padding:0 30px}
}

/*     1725955 : 이미지      */
.img__1725955__ {max-width:100%}
.img__1725955__ * {box-sizing:border-box}
.img__1725955__ a {display:block;vertical-align:top}
.img__1725955__ img {width:1200px;vertical-align:top}

/*     1730225 : 탭 버튼 이미지      */
.tab_info__1730225__ {display:table;width:100%}
.tab_info__1730225__ p {display:table-cell;height:60px;margin:0;background:#fafafa;color:#c40000;text-align:center;vertical-align:middle}

.img__1730225__ {max-width:100%}
.img__1730225__ * {box-sizing:border-box}
.img__1730225__ > a {display:table;width:100%;border:1px solid rgba(0, 0, 0, .2);background:#ffffff;}
.img__1730225__ > a > span {display:table-cell;height:40px;padding:10px 15px;font-size:14px;font-weight:bold;color:#444444;text-align:center;line-height:1.3em;letter-spacing:-.03em;vertical-align:middle;}
.img__1730225__.on > a {background:#8b6f4e;}
.img__1730225__.on > a > span {color:#ffffff;}

@media all and (min-width:768px){
	.img__1730225__ > a > span {padding:10px 15px;font-size:15px;}
}

@media all and (min-width:1024px){
	.img__1730225__ > a > span {height:55px;padding:15px 25px;font-size:17px;}
}


/*     1730235 : 탭 버튼 이미지      */
.tab_info__1730235__ {display:table;width:100%}
.tab_info__1730235__ p {display:table-cell;height:60px;margin:0;background:#fafafa;color:#c40000;text-align:center;vertical-align:middle}

.img__1730235__ {max-width:100%}
.img__1730235__ * {box-sizing:border-box}
.img__1730235__ > a {display:table;width:100%;border:1px solid rgba(0, 0, 0, .2);background:#ffffff;}
.img__1730235__ > a > span {display:table-cell;height:40px;padding:10px 15px;font-size:14px;font-weight:bold;color:#444444;text-align:center;line-height:1.3em;letter-spacing:-.03em;vertical-align:middle;}
.img__1730235__.on > a {background:#8b6f4e;}
.img__1730235__.on > a > span {color:#ffffff;}

@media all and (min-width:768px){
	.img__1730235__ > a > span {padding:10px 15px;font-size:15px;}
}

@media all and (min-width:1024px){
	.img__1730235__ > a > span {height:55px;padding:15px 25px;font-size:17px;}
}


/*     1730205 : 탭 컨텐츠 블록 설정      */
.block_option__1730205__ {display:table;width:100%}
.block_option__1730205__ p {display:table-cell;height:100px;margin:0;background:#fafafa;color:#c40000;text-align:center;vertical-align:middle}

#fac_tab1 {display:none;}

/*     1730185 : 이미지      */
.img__1730185__ {max-width:100%}
.img__1730185__ * {box-sizing:border-box}
.img__1730185__ a {display:block;vertical-align:top}
.img__1730185__ img {width:1200px;vertical-align:top}

/*     1730215 : 탭 컨텐츠 블록 설정      */
.block_option__1730215__ {display:table;width:100%}
.block_option__1730215__ p {display:table-cell;height:100px;margin:0;background:#fafafa;color:#c40000;text-align:center;vertical-align:middle}

#fac_tab2 {display:none;}

/*     1730195 : 이미지      */
.img__1730195__ {max-width:100%}
.img__1730195__ * {box-sizing:border-box}
.img__1730195__ a {display:block;vertical-align:top}
.img__1730195__ img {width:1200px;vertical-align:top}

/*     1730245 : 이미지      */
.img__1730245__ {max-width:100%}
.img__1730245__ * {box-sizing:border-box}
.img__1730245__ a {display:block;vertical-align:top}
.img__1730245__ img {width:1200px;vertical-align:top}

