/*     1726145 : 맞춤형 컨텐츠      */
.empty__1726145__ {padding:20px 10px;background:#fafafa;}
.empty__1726145__ p {margin:0;padding:0;}
.empty__1726145__ .title {font-size:18px;font-weight:bold;color:blue;text-align:center}
.empty__1726145__ dt {margin-bottom:5px;font-size:15px;font-weight:bold;}
.empty__1726145__ dd {margin:0;font-size:13px;}
.empty__1726145__ dd ul li {padding-left:15px;}
.row {overflow:hidden;}

/*     1726155 : 한줄 텍스트      */
.text__1726155__ p {
	display:block;margin:0;padding:0;
	font-size:16px;font-weight:normal;color:#a89f8a;letter-spacing:0;line-height:1.6em;
}
.text__1726155__ p a {color:#a89f8a}

/*     1726165 : 타이틀      */
.title__1726165__ {}
.title__1726165__ p {
	position:relative;margin:0;padding:0;font-size:20px;font-weight:bold;
	color:#444444;letter-spacing:-.03em;line-height:1.6em;
}
.title__1726165__ p:before {content:'';display:block;position:absolute;top:50%;left:0;right:0;width:100%;height:1px;background:#dddddd}
.title__1726165__ p span {display:inline-block;position:relative;z-index:10;padding:0 15px;background:#ffffff;vertical-align:top}

@media all and (min-width:768px){
	.title__1726165__ p {font-size:22px}
	.title__1726165__ p span {padding:0 20px}
}

@media all and (min-width:1024px){
	.title__1726165__ p {font-size:30px}
	.title__1726165__ p span {padding:0 30px}
}

/*     1726195 : 이미지      */
.img__1726195__ {max-width:100%}
.img__1726195__ * {box-sizing:border-box}
.img__1726195__ a {display:block;vertical-align:top}
.img__1726195__ img {width:1200px;vertical-align:top}

/*     1730285 : 이미지      */
.img__1730285__ {max-width:100%; margin-bottom:45px;}
.img__1730285__ * {box-sizing:border-box}
.img__1730285__ a {display:block;vertical-align:top}
.img__1730285__ img {width:1200px;vertical-align:top}

/*     1730295 : 이미지      */
.img__1730295__ {max-width:100%; margin-bottom:45px;}
.img__1730295__ * {box-sizing:border-box}
.img__1730295__ a {display:block;vertical-align:top}
.img__1730295__ img {width:1200px;vertical-align:top}

/*     1730315 : 이미지      */
.img__1730315__ {max-width:100%; margin-bottom:45px;}
.img__1730315__ * {box-sizing:border-box}
.img__1730315__ a {display:block;vertical-align:top}
.img__1730315__ img {width:1200px;vertical-align:top}

/*     1730305 : 이미지      */
.img__1730305__ {max-width:100%}
.img__1730305__ * {box-sizing:border-box}
.img__1730305__ a {display:block;vertical-align:top}
.img__1730305__ img {width:1200px;vertical-align:top}

